<div class="portfolio-modal modal fade" id="modal-about" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body modal-about">
                      <div class="col-lg-4">
                        <img src="img/profile.png" class="img-responsive" alt="Me">
                      </div>
                      <p>I am Rodrigo Pinto a brazilian fellow. Web software developer with +8 years of experience, working on environments with <a href="https://en.wikipedia.org/wiki/Extreme_programming" target="blank">Extreme Programming</a>, Scrum, TDD and 100% test coverage, continuous integration, Ruby, JavaScript, Ruby, Lean Software Development, Open Source and related technologies.</p>
                      <p>The last 5 years I've worked with a lot of Startup's. Since green-field projects until mission rescue. Those projects were mainly written in Ruby and JavaScript.</p>
                      <p>I am also passionate about <strong>travel</strong> and <strong>travel tech market</strong>. I believe it is one of the promising internet market.</p>
                      <p>I'm always looking ahead for challenges and to learn new technologies.</p>
                      <p>When I am not programming, I practice sports like slackline, longboarding, gym and I also really love to travel abroad and I post about it on <a href="http://trupedatrip.com" title="Trupe da Trip" target="_blank">Trupe da Trip</a>, my travel blog.</p>
                      <p>I also like to listen to <a href="http://letras.mus.br/candeia/" target="_blank">Samba</a> and EDM. I also like to cook, hang out with friends, meet new people and I believe that we should <strong>make it count</strong> every single moment.</p>
                      <img src="img/making-it-count.jpg" class="img-thumbnail img-responsive" alt="Making it Count">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
